@page "/flight"
@using AssignmentFlightsApp.Models
@inject ReservationManager ReservationManager

<div class="container">
    <h3 class="text-center mb-3">Flight Finder</h3>
    <div class="row g-3">
        <div class="col-md-3">
            <label for="from" class="form-label">From</label>
            <select @bind="selectOption.DepartureAirport" class="form-select" id="from">
                @foreach (var airport in departureAirport)
                {
                    <option value="@airport">@airport</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="to" class="form-label">To</label>
            <select @bind="selectOption.ArrivalAirport" class="form-select" id="to">
                @foreach (var airport in arrivalAirport)
                {
                    <option value="@airport">@airport</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="day" class="form-label">Day</label>
            <select @bind="selectOption.Weekday" class="form-select" id="day">
                @foreach (var day in weekdays)
                {
                    <option value="@day">@day</option>
                }
            </select>
        </div>
        <div class="col-md-3 align-self-end">
            <button @onclick="SearchFlights" class="btn btn-primary w-100">Find Flights</button>
        </div>
    </div>

    <h3 class="text-center mb-2 mt-2">Flights</h3>
    <div class="row g-3">
        <div class="col">
            <label for="selectedFlight" class="form-label">Flights</label>
            <select @bind="selectedFlightCode" class="form-select" id="selectedFlight">
                <option value="">Select a Flight...</option>
                @foreach (var flight in matchingFlights)
                {
                    <option value="@flight.FlightCode">@flight.FlightCode - @flight.Airline - @flight.From - @flight.To - @flight.Weekday - @flight.Time - @flight.CostPerSeat</option>
                }
            </select>
            @if (searchPerformed && !matchingFlights.Any())
            {
                <div class="alert alert-warning" role="alert">
                    No matching flights found.
                </div>
            }
        </div>
    </div>

    <h3 class="text-center mb-2 mt-2">Reserve</h3>
    <div class="row g-3">
        <div class="col">
            <label for="FlightCode" class="form-label">Flight Code</label>
            <input type="text" class="form-control" id="FlightCode" value="@selectedFlight?.FlightCode" readonly>
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <label for="Airline" class="form-label">Airline</label>
            <input type="text" class="form-control" id="Airline" value="@selectedFlight?.Airline" readonly>
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <label for="Day" class="form-label">Day</label>
            <input type="text" class="form-control" id="Day" value="@selectedFlight?.Weekday" readonly>
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <label for="Time" class="form-label">Time</label>
            <input type="text" class="form-control" id="Time" value="@selectedFlight?.Time" readonly>
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <label for="Cost" class="form-label">Cost</label>
            <input type="text" class="form-control" id="Cost" value="@selectedFlight?.CostPerSeat" readonly>
        </div>
    </div>

    <div class="row g-3">
        <div class="col">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" @bind="selectOption.Name" placeholder="Enter your name">
        </div>
    </div>

    <div class="row g-3 mb-2">
        <div class="col">
            <label for="Citizenship" class="form-label">Citizenship</label>
            <input type="text" class="form-control" id="Citizenship" @bind="selectOption.Citizenship" placeholder="Enter your citizenship">
        </div>
    </div>

    <div class="row g-3">
        <div class="col text-center">
            <button @onclick="ReserveSeat" class="btn btn-primary" disabled="@(!CanReserve)">Reserve</button>
            <div class="d-flex align-items-center justify-content-center">
                <p class="m-0">Reservation Code:</p>
                @if (!string.IsNullOrEmpty(newReservationCode))
                {
                    <p id="reservationCodeDisplay" class="m-0">@newReservationCode</p>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .flex-item input:focus {
        border: 1px solid #007bff;
        outline: none;
    }
</style>

@code {
    private string selectedFlightCode { get; set; }
    private Flight selectedFlight => matchingFlights.FirstOrDefault(f => f.FlightCode == selectedFlightCode);
    private bool searchPerformed = false;

    private bool CanReserve => selectedFlight != null && !string.IsNullOrWhiteSpace(selectOption.Name) && !string.IsNullOrWhiteSpace(selectOption.Citizenship);

    private string newReservationCode;

    private void ReserveSeat()
    {
        if (string.IsNullOrWhiteSpace(selectOption.Name) || string.IsNullOrWhiteSpace(selectOption.Citizenship))
        {
            Console.WriteLine("Name and citizenship are required to make a reservation.");
            return;
        }

        if (selectedFlight == null)
        {
            Console.WriteLine("No flight selected.");
            return;
        }

        newReservationCode = ReservationManager.GenerateReservationCode();

        var reservation = new Reservation(newReservationCode, selectedFlight.FlightCode, selectedFlight.Airline, selectedFlight, selectOption.Name, selectOption.Citizenship);

        ReservationManager.AddReservation(reservation);

        StateHasChanged();
    }

}


